{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Vérifier si la route est "crud_edit" on affiche les images #}
    {% if app.request.attributes.get('_route') == 'crud_edit' %}
        <h2>Images</h2>
        {% for image in product.images %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.name)}}" alt="Image" width="150">
                <a href="{{ path('product_delete_image', {'id': image.id})}}" data-delete data-token="{{csrf_token('delete' ~ image.id)}}">
                Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    
    <button class="buttonnew">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
