{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}
{# {% set queryString = queryParams|fitler((v, k) => != page) %} #}

{% block title %}Historique{% endblock %}

{% block body %}
<div class="titre">
    <h1 class="bigtitle">Historique des achats</h1>
    <button class="logout"><a class="linkcrud" href="{{ path('app_logout')}}">Déconnexion</a></button>
</div>

  
       
        {# Boucle pour récupérer les catégories #}
<div class="filter">
    <form class="filter" id="filters">
        {% for categorie in categories %} 
        <div class="formfilter">
                    <p><input type="checkbox" name="categories[]" id="cat{{categorie.id}}" value="{{categorie.id}}"></p>
                    <label class="filterlabel" for="cat{{categorie.id}}">{{categorie.name}}</label> 
        </div>
        {% endfor %}
        <input type="hidden" name="page" value="{{page}}">
    </form>
 </div>           

        {# Boucle pour récupérer les produits #}
    <div id="content">
        {% include "crud/_content.html.twig" %}
    </div>
{% endblock %}

 {% block javascript %}
            <script src="{{ asset('js/filters.js')}}"></script>
 {% endblock %}
